@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: rgb(87 83 78);
  }

  *::-webkit-scrollbar {
    width: 0.65rem;
  }

  *::-webkit-scrollbar-track {
    background: rgb(31 41 55);
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgb(75 85 99);
    border-radius: 1rem;
    border: 3px solid var(--primary);
  }

  /* clears the ‘X’ from Internet Explorer */
  input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
  /* clears the ‘X’ from Chrome */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  input[type="search"] {
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

@layer components {
  .btn {
    @apply font-semibold transition;
  }
  .btn.btn-sm {
    @apply px-4 py-2 text-sm;
  }
  .btn.btn-md {
    @apply py-2 px-6;
  }
  .btn.btn-lg {
    @apply px-8 py-4 text-lg;
  }
  .btn-primary {
    @apply bg-zinc-50/10 text-zinc-300;
  }
  .btn-primary:hover {
    @apply bg-zinc-50/20 text-zinc-100;
  }
  .btn-primary.btn-active {
    @apply bg-zinc-50/30 text-white;
  }
  .btn-primary.btn-outline {
    @apply border border-zinc-600 bg-transparent text-zinc-600 hover:bg-zinc-600 hover:text-zinc-300;
  }
  .btn-primary-disabled {
    @apply cursor-not-allowed bg-zinc-50/10 text-white opacity-50;
  }
  .btn-secondary {
    @apply bg-rose-500 text-rose-50;
  }
  .btn-secondary:hover {
    @apply bg-rose-600;
  }
  .btn-secondary.btn-active {
    @apply bg-rose-600;
  }
  .btn-secondary.btn-outline {
    @apply border border-rose-600 bg-transparent text-rose-600 hover:bg-rose-600 hover:text-white;
  }
  .btn-secondary-disabled {
    @apply cursor-not-allowed bg-rose-500 text-white opacity-50;
  }
  .btn-tertiary {
    @apply bg-teal-500 text-teal-50;
  }
  .btn-tertiary:hover {
    @apply bg-teal-600;
  }
  .btn-tertiary.btn-active {
    @apply bg-teal-600;
  }
  .btn-tertiary.btn-outline {
    @apply border border-teal-600 bg-transparent text-teal-600 hover:bg-teal-600 hover:text-white;
  }
  .btn-tertiary-disabled {
    @apply cursor-not-allowed bg-teal-200 text-teal-700 opacity-50;
  }
}
